{ erl_opts, [
    {src_dirs, ["src"]},
    warnings_as_errors,
    debug_info
]}.

{ cover_enabled, true}.

{ port_specs,[
    {"priv/lua_enode", ["c_src/lua_enode.c"]}
]}.

{ port_env,[
    {"CFLAGS", "$CFLAGS  -D_REENTRANT=PTHREADS `pkg-config --cflags luajit`"},
    {"LDFLAGS", "$LDFLAGS  `pkg-config --libs luajit` -lm -ldl -lpthread "}
]}.
